[core]
	excludesfile = ~/.config/git/gitignore_global

[include]
	path = ~/.config/git/gitalias/gitalias.txt
	path = ~/.gitlocal

[alias]
	c = commit -v
	ri = rebase --interactive
	ff = merge --ff-only
    sw = switch
    # diff two patches
    diff-patches = "!bash -c 'diff <(git show $0) <(git show $1)'"

[core]
    pager = delta

    ## highlight whitespaces
    ## https://github.com/dandavison/delta/issues/522
    # pager = sed 's/\t/⇥/g' | delta

[delta]
    features = line-numbers decorations
    syntax-theme = Dracula
    plus-style = syntax "#003800"
    minus-style = syntax "#3f0001"
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = yellow box

[delta "line-numbers"]
    line-numbers-left-style = cyan
    line-numbers-right-style = cyan
    line-numbers-minus-style = 124
    line-numbers-plus-style = 28

[interactive]
    diffFilter = delta --color-only

[color]
	ui = true

[credential]
	helper = store

[diff]
    algorithm = histogram
[init]
	defaultBranch = main
