[core]
	excludesfile = ~/.config/git/gitignore_global

[include]
	path = ~/.config/git/gitalias/gitalias.txt
	path = ~/.gitlocal

[alias]
	c = commit -v
    # diff two patches
    diff-patches = "!bash -c 'diff <(git show $0) <(git show $1)'"
    dt = difftool
    f = fetch --prune
	ff = merge --ff-only
    forget-file = "!bash -c 'git rm --cached $0 && git update-index --assume-unchanged $0'"
    forget-dir = "!bash -c 'git rm -r --cached $0 && git update-index --assume-unchanged $0'"
	ri = rebase --interactive
    sw = switch
    test-merge = merge --no-commit --no-ff
    wt = worktree
    find-merge = "!bash -c 'commit=$0 && branch=${1:-HEAD} && (git rev-list $commit..$branch --ancestry-path | cat -n; git rev-list $commit..$branch --first-parent | cat -n) | sort -k2 -s | uniq -f1 -d | sort -n | tail -1 | cut -f2'"
    show-merge = "!bash -c 'merge=$(git find-merge $0 $1) && [ -n \"$merge\" ] && git show $merge'"


[core]
    pager = delta

    ## highlight whitespaces
    ## https://github.com/dandavison/delta/issues/522
    # pager = sed 's/\t/⇥/g' | delta

[diff]
    tool = difftastic

[difftool]
    prompt = false

[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"

[delta]
    features = line-numbers decorations
    syntax-theme = Dracula
    plus-style = syntax "#003800"
    minus-style = syntax "#3f0001"
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = yellow box

[delta "line-numbers"]
    line-numbers-left-style = cyan
    line-numbers-right-style = cyan
    line-numbers-minus-style = 124
    line-numbers-plus-style = 28

[interactive]
    diffFilter = delta --color-only

[color]
	ui = true

[credential]
	helper = store

[diff]
    algorithm = histogram
[init]
	defaultBranch = main
